.blog-container {
    text-align: justify;
    margin: 10px 25%;
}
.blog-container p {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal
}
.blog-container img {
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
}