/* Main Container for the whole body*/
.recent-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Title for Recent Blogs */
.recent-container h1 {
    width: 1200px;

    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    padding: 20px;
}

/* Structure for Featured */
.grid-box {
    display: block;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.boxes {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: center;
    padding: 0; /* Remove padding to allow image to touch edges */
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Content in Featured Blogs */

/* Blog Info Main Container */
/* Blog Info Container */
.boxes-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px; /* Added padding for text to prevent it from touching the edge */
}

/* Featured Blog Title */
.boxes-info h2 {
    margin: 0 0 10px;

    font-size: 45px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Featured Blog Paragraph */
.boxes-info p {
    margin: 5px 0px;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.boxes-info:hover {
    color: rgb(255, 51, 0);
    text-shadow: 0px 0px 15px grey;
}

/* Star Rating */
.checked {
    color: orange;
}
.unchecked {
    color: #555;
}

/* Featured Post Images */
.boxes-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures image fits the box without overflow */
}

.image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 0; /* Remove rounded corners */
}