.sidebox-main {
    position: sticky;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    margin-right: 30px;
    margin-top: auto;
    padding-bottom: 30px;
}
.side-content {
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.side-content h2 {
    color: #03a1fc;
    font-size: 35px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Bullet List */
.side-content ul {
    list-style: none;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal
}
.side-content ul a{
    text-decoration: none;
    color: black;
}
.side-content ul a:hover{
    text-decoration: none;
    color: rgb(255, 51, 0);
    text-shadow: 0px 0px 15px grey;
}
.side-content ul li {
    margin: 15px 0px;
}
.side-content ul li.contact-me {
    margin: 20px 0px;
}

/* Sidebox Containers*/
.sidebox {
    display: flex;
    margin: 10px 0px;
}
.sidebox-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal
}
.sidebox-info a{
    text-decoration: none;
    color: black;

    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.sidebox-info a:hover {
    color: rgb(255, 51, 0);
    text-shadow: 0px 0px 15px grey;
}
.sidebox-image img{
    height: 100%;
    width: 100%;
    max-height: 50px;
    max-width: 50px;
}